USE [WHNPOS]
GO
/****** Object:  Table [dbo].[TblCabang]    Script Date: 31/05/2025 10.25.07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCabang](
	[KodeCabang] [nvarchar](6) NOT NULL,
	[NamaCabang] [nvarchar](50) NULL,
	[Alamat] [nvarchar](255) NULL,
	[AdminID] [nvarchar](30) NULL,
 CONSTRAINT [PK_TblCabang] PRIMARY KEY CLUSTERED 
(
	[KodeCabang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TblCabang] ([KodeCabang], [NamaCabang], [Alamat], [AdminID]) VALUES (N'BSTCMR', N'JOYLAND BRASTAGI CEMARA', N'BRASTAGI SUPERMARKET JALAN CEMARA MEDAN', N'Joyland')
GO
